@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Faça sexo!</h1>
    <p>Saiba como em: <a href="https://www.akitaonrails.com/">akitaonrails.com</a>.</p>
</div>
