@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo sapien, scelerisque vel magna in, sollicitudin porttitor metus. Donec quis quam nulla. Praesent eget sem sem. Curabitur vitae purus pretium, elementum sapien eget, commodo eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vel metus sed elit sodales elementum in at eros. Curabitur scelerisque est ut sem aliquet tincidunt. Aliquam sed elit odio. Integer scelerisque nisl ultricies leo fermentum, at accumsan metus gravida. Nulla posuere neque eget vulputate lacinia. Aenean ullamcorper pellentesque nulla, at posuere nunc ultrices nec.</p>
